// style buttom
.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  @include easeOut;

  .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #fff;
    @include easeOut;
  }

  // rotate "menu line" into X
  &.close{
    transform: rotate(180deg);

    .btn-line{
      // line 1 - rotate
      &:nth-child(1){
        transform: rotate(45deg) translate(5px, 5px);
      }

      // line 2 - Hide
      &:nth-child(2){
        opacity: 0;
      }
      // line 3 - rotate
      &:nth-child(3){
        transform: rotate(-45deg) translate(7px, -6px);
      }
    }
  } 
}

// menu overlay
.menu{
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden;
  
  &.show{
    visibility: visible;
  }

  &-branding,
  &-nav{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden;
  }

    &-nav{
      margin: 0;
      padding: 0;
      background: darken($primary-color, 5);
      list-style: none;
      transform: translate3d(0, -100%,0);
      @include easeOut;

      &.show{
        // slide from top
        transform: translate3d(0, 0, 0);
      }
    }
  // branding slide
  &-branding{
    background: $primary-color;
    transform: translate3d(0 , 100%, 0);
    @include easeOut;
    
    &-show{
      // slide bottom
      transform: translate3d(0, 0, 0);
    }

    .portrait{
      width: 250px;
      height: 250px;
      background: url();
      border-radius: 50%;
      border: ;
    }
  }
  }