// widescreens
@include mediaXl{

}

// desktops & laptops
@include mediaLg{
    
}

// tables & small laptops
@include mediaMd{
    main{
        align-items: center;
        text-align: center;
        .lg-heading{
            line-height: 1px;
            margin-bottom: 1rem;
        }
    }
}

// smartphones
@include mediaSm{
    
}
